/* Blog Section Style */


section.recent-blog{
    position: relative;
    padding: 50px 0px;

    .blog-slide-1 {
        position: relative;
        padding: 50px 0px;

        .r-blog{
            position: relative;

            .rb-img{
                position: relative;
                border-radius: 5px;
            }
            .rb-text{
                position: relative;
                padding: 20px 0px;

                p {
                    padding: 10px 0px;
                    line-height: 21px;
                }
                a{
                    font-size: 17px;
                    letter-spacing: 0;
                    color: $secondarybgColor;
                    
                }
                .fe-icon:before {
                    margin-left: 8px;
                    padding-top: 3px;
                    color: $secondarybgColor;
                    position: absolute;
                    font-size: 22px;
                }
            }
        }
        .owl-nav [class*=owl-next] {
            color: #000000!important;
            font-size: 39px !important;
            margin: 5px;
            padding: 4px 7px;
            position: absolute;
            display: inline-block;
            cursor: pointer;
            border: 1.5px solid #000000 !important;
            right: 0;
            width: 30px;
             height: 30px;
             top: -10%;
            border-radius: 3px;

           span {
            position: absolute;
            top: -2px;
            left: 8px;
            }

            &:hover{
                background: none;
            }

            }
            .owl-nav [class*=owl-prev] {
                color: #000000!important;
                font-size: 39px !important;
                margin: 5px;
                padding: 4px 7px;
                position: absolute;
                display: inline-block;
                cursor: pointer;
                border: 1.5px solid #000000 !important;
                right: 4%;
                width: 30px;
                 height: 30px;
                top: -10%;
                border-radius: 3px;

                &:hover{
                    background: none;
                }


                span {
                    position: absolute;
                    top: -2px;
                    left: 6px;

                    }
                }
    }
  
}

section.blog{
    position: relative;
    padding-bottom: 50px;

    .single-blog{
        position: relative;
        margin: 25px auto;

        .sb-img{
            position: relative;

            &::before{
                position: absolute;
                content: '';
                width: 100%;
                height: 100%;
                z-index: -1;
                top: 0;
                left: 0;
                background: #4e76a4;
            }
        }
        .sb-text {
            position: absolute;
            top: 10%;
            padding: 20px;

            h2 {
                font-size: 32px;
                line-height: 40px;
                color: #fff;
            }
            h1 {
                font-size: 51px;
                line-height: 54px;
                padding: 20px 0px;
                color: #fff;
            }
            a{
                font-size: 24px;
                color: #fffdfd;

                .flaticon-arrow-pointing-to-right {
                    font-size: 35px;
                    color: #fff;
                    position: absolute;
                    right: 31%;
                }
            }
            
        }
    }
    .single-blog2{
        position: relative;
        margin: 25px auto;

        .sb-img{
            position: relative;
        }
        .sb-text{
            position: absolute;
            width: 45%;
            right: 5%;
            top: 8%;
            height: 86%;
            padding: 20px;
            background-color: rgba(41, 65, 94, 0.851);
          

            h4 {
                line-height: 32px;
                color: #fff;
            }
            h3 {
                font-size: 24px;
                line-height: 30px;
                color: #fff;
                padding: 10px 0px;
            }
            p {
                color: #f9f9f9;
                line-height: 26px;
            }
            a {
                color: #f8f9fb;
                text-decoration: underline;
                padding-top: 10px;
                display: inline-block;
            }
        }
    }

    .sb-3{
        position: relative;
        .sb-text{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            
        h4{
            color: #fff;
        }
        h3{
            color: #fff;
            padding: 15px 0px;
            font-size: 27px;
        }
        p{
            color: #fff;
        }
        a{
            font-size: 16px;
            text-decoration: underline;
        }
    
        }
    }
}



section.recent-blog2{
    position: relative;
    text-align: center;
    padding-bottom: 70px;

    .recent-blog-img {
        width: 90%;
        padding-top: 70px;
        text-align: left;
    }
    
    .rb2-text {
        width: 70%;
    position: absolute;
    background: #fff;
    text-align: left;
    top: 28%;
    left: 27%;
    padding: 20px;
    -webkit-box-shadow: 7px 2px 22px -13px rgba(0,0,0,0.59);
    -moz-box-shadow: 7px 2px 22px -13px rgba(0,0,0,0.59);
    box-shadow: 7px 2px 22px -13px rgba(0,0,0,0.59);

    h2 {
        font-size: 27px;
        line-height: 32px;
        margin-bottom: 0px;
        padding: 10px 0px;
    }
    p {
        font-size: 19px;
        line-height: 25px;
    }
    a {
        text-decoration: underline;
        padding-top: 10px;
        display: inline-block;
    }

    }
}


section.recent-blog.dark{
    position: relative;
    background: #0a1b2b;

    h3{

            color: #fff;
    }
    .blog-slide-1{
        .owl-nav [class*=owl-next]{
            color: #ffffff !important;
            border-color: #fff !important;
        }
        .owl-nav [class*=owl-prev]{
            color: #ffffff !important;
            border-color: #fff !important;
        }
    }

}
/* /Blog Section Style */

/* -------------Blog Page Style--------------*/


    section.blog-page{
        position: relative;
        padding-top: 100px;

        .blog-sidebar{
            position: relative;

            .search-box{
                position: relative;
                .form-group{
                    position: relative;
                    width: 100%;
                    margin: 0;


                    span.fa.fa-search {
                        position: absolute;
                        padding: 12px;
                        font-size: 20px;
                        color: #999999;
                    }
                    .form-control{
                        padding: 23px 0px;
                        font-size: 13px;
                        padding-left: 40px;
                        border-radius: 5px;
                    }
                }
            }

            .bs-post-wrapper{
                position: relative;
                padding-top: 10px;
                h3{
                    padding: 20px 0px;
                }

                .single-pb-post{
                    position: relative;
                    width: 100%;
                    display: inline-block;
                    margin: 10px auto;
                    .s-pbp-img {
                        position: relative;
                        width: 80px;
                        height: 85px;
                        float: left;
                        border-radius: 5px;
                    }
                    .s-pbp-text{
                        position: relative;
                        padding-left: 15px;
                        display: table-cell;
                        width: calc(100% - 80px);
                        p{
                            font-size: 12px;
                            line-height: 24px;
                        }
                        h5{
                            line-height: 18px;
                        }
                    }

                }
            }
            .blog-catagory {
                position: relative;
                padding-top: 40px;

                h5 {
                    line-height: 26px;
                    padding: 15px 0px 25px;
                    padding-left: 27%;
                    position: relative;

                    &::before{
                        content: '';
                        position: absolute;
                        height: 2px;
                        width: 23%;
                        background: black;
                        left: 0;
                        top: 28px;
                    }
                }
                .caragory-list{
                    position: relative;
                    ul{
                        li{
                            padding: 10px 0px;
                            a{
                                color: #61676f;
                                font-size: 18px;
                                &:hover{
                                color: royalblue;
                                }
                            }
                            
                        }
                    }
                }
            }

            .reletad-post{
                position: relative;
                padding-top: 40px;

                h3{
                    padding-bottom: 20px;
                }
                .releted-post-slide{
                    position: relative;

                    .owl-dots{
                        margin: 0;
                        position: absolute;
                        bottom: 5px;
                        left: 31%;
                    }
                    .r-blog{
                        position: relative;
                        padding: 10px;
                        padding-bottom: 40px;
                        background: #f6f6ff;
                        .rb-text{
                            position: relative;
                            padding: 10px 0px;
                            p{
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
            .blog-social-icon{
                position: relative;
                padding: 40px 0px 50px;
                h3{
                    padding-bottom: 20px;
                }

                .social{
                    li{
                        display: inline-block;
                        width: 40px;
                        transition: .5s ease;
                        height: 40px;
                        border: 1.5px solid #f5f7f9;
                        border-radius: 5px;
                        margin-right: 10px;
                        margin-bottom: 10px;

                        &:hover{
                            background: #28aae1;
                             
                              a{
                                color: #fff;
                              }
                        }
                        a{
                            font-size: 16px;
                             color: #888;
                        }
                        i{
                           font-size: 17px;
                            padding: 10px 11px;
                            border-radius: 5px;
                        }
                    }
                }
            }
        }



.single-bloge-post{
    position: relative;
    margin-bottom: 80px;
    
    h1{
        font-size: 40px;
        margin-top: -10px;
    }
    .s-bp-details{
        position: relative;
        display: inline-flex;
        padding: 25px 0px;

        .sbp-img{
            position: relative;
            width: 50px;
            height: 50px;
            border-radius: 50%;

        }
        .sbp-text{
            position: relative;
            padding-left: 15px;
            ul{
                li{
                    display: inline;
                    padding: 0px 8px;
                    position: relative;

                    &:first-child{
                        padding-left: 0;
                        &::before{
                        display: none;
                        }
                    }

                    &::before{
                        content: '';
                        position: absolute;
                        height: 16px;
                        width: 2px;
                        top: 0;
                        left: 0;
                        background: #6d747f;
                    }
                    a{
                        color: #ffc854;
                        text-decoration: underline;
                    }
            
                }
            }
        }
    }

    .single-p-img{
        position: relative;

        img{
            width: 100%;
            box-shadow: 0px 20px 30px 0px rgba(29, 34, 58, 0.15);
         }
        a{
            color: #4e76a4;
            display: block;
            text-decoration: underline;
            padding-top: 40px;
        }
    }
}
.single-bloge-post.sbp-low-mar {
    margin-bottom: 40px;
}


.blog-pagenation{
    position: relative;
    margin-bottom: 80px;

    a.newer {
        display: inline-block;
        padding: 10px 26px;
        color: #fff;
        border-radius: 3px;
        background: #4e76a4;
    }
    a.newer {
        display: inline-block;
        padding: 10px 26px;
        color: #fff;
        border-radius: 3px;
        background: #4e76a4;
    }
    a.older {
        display: inline-block;
        padding: 10px 26px;
        color: #fff;
        float: right;
        border-radius: 3px;
        background: #4e76a4;
    }
}

.sbp-details{
    position: relative;
    padding-bottom: 20px;
    
    p{
        font-family: unset;
        color: #51555b;
    }
}
.sbp-details-2{
    background: #e4f1ff;
    padding: 25px 20px 25px 40px;
    margin: 20px 0px 40px 0px;
    border-left: 5px solid #4e76a4;
}

.blog-details-item {
    padding: 20px 0px;
    position: relative;
    width: 100%;
    border-top: 1.5px solid #f0f0f0;
    display: inline-flex;
    border-bottom: 1.5px solid #f0f0f0;

    .bdi-1 {
        position: relative;
        width: 40%;
        display: inline-flex;

        .bdi-1-img {
            position: relative;
            height: 90px;
            border-radius: 4px;
            width: 85px;
            img{
                height: 100%;
                max-width: unset;
            }
        }
        .bdi-1-text {
            padding: 5px 15px;
            p {
                font-size: 13px;
                line-height: 18px;
            }
            h5 {
                line-height: 22px;
            }
        }
    }
    
    .bdi-2 {
        position: relative;
        width: 40%;
        margin-left: auto;
        display: inline-flex;

        .bdi-2-img {
            position: relative;
            height: 90px;
            border-radius: 4px;
            width: 85px;
            img{
                height: 100%;
                max-width: unset;
            }
        }
        .bdi-2-text {
            padding: 5px 15px;
            text-align: right;
            p {
                font-size: 13px;
                line-height: 18px;
            }
            h5 {
                line-height: 22px;
            }
        }
    }
}

.blog-share-icon{
    position: relative;
    display: inline-flex;
    float: right;
    padding: 30px 0px;

    p {
        padding-top: 10px;
        color: #4b4c4d;
    }
    ul.social{
        li{display: inline-block;
            width: 40px;
            transition: .5s ease;
            height: 40px;
            border: 1.5px solid #f5f7f9;
            border-radius: 5px;
            margin-left: 10px;

            &:hover{
                background: #4e76a4;
                a{
                    color: #fff;
                }
            }
            a{font-size: 16px;
                color: #888;
                i{
                font-size: 17px;
                padding: 10px 11px;
                border-radius: 5px;
             }
            }
        }
    }
}

.blog-team{
    position: relative;
    display: inline-flex;
    padding: 20px;
    border-radius: 4px;
    width: 100%;
    border: 1.5px solid #f0f0f0;

    .blog-t-img {
        position: relative;
        height: 70px;
        border-radius: 50%;
        width: 70px;
    }
    .blog-t-text {
        position: relative;
        max-width: 450px;
        margin-left: 15px;

        p {
            line-height: 20px;
        }
    }
    .blog-share-icon{
        padding: 0;
        margin-left: auto;
        margin-top: 10px;
    }
}

section.comment {
    position: relative;
    padding-top: 10px;

    h1{
        padding: 20px 0px;
    }
    .single-comment {
        position: relative;
        padding: 20px;
        margin-bottom: 30px;
        border-radius: 4px;
        border: 1.5px solid #f0f0f0;

        .single-comment-img {
            height: 90px;
            width: 85px;
            float: left;
            border-radius: 50%;

            img{
                height: 100%;
                width: 100%;
            }
        }
        .single-comment-text {
            display: table-cell;
            padding-left: 15px;

            h3{
                color: #4b4c4d;
            }
            small{
                color: #4b4c4d;
                font-size: 16px;
                letter-spacing: 0;

            }
            p {
                color: #4b4c4d;
                font-family: unset;
                line-height: 23px;
                padding-top: 10px;
            }
        }


    }

    .s-comment-2{

        position: relative;
        margin-left: 18px;
        

        &::before{
            position: absolute;
            content: '';
            height: 100%;
            width: 4px;
            background: #4e76a4;
            left: -18px;
            top: 0;
        }
    }
   



}

section.comment-box {
    position: relative;
    margin-bottom: 100px;

    h1{
        padding: 20px 0px;
    }

    input.cp1 {
        position: relative;
        padding: 25px 20px;
        font-size: 16px;
        margin-bottom: 15px;
    }
    textarea.cp1{
        font-size: 16px;
        padding: 25px 20px;
        margin-bottom: 15px;
    }

    .cont-sent {
        padding: 12px 40px;
        border-radius: 4px;
        background: #4e76a4;
        color: #fff;
        border: none;
        cursor: pointer;
    }
}


}


/* -------------/Blog Page Style--------------*/

/*---------------Career PAge Style--------------*/

section.career {
    position: relative;
    padding-top: 100px;

    .career-tag {
        position: relative;
        padding: 25px;
        border: 1.5px solid #e1e1e1;
      
        .search-box{
            position: relative;
            .form-group{
                position: relative;
                width: 100%;


                span.fa.fa-search {
                    position: absolute;
                    padding: 12px;
                    font-size: 15px;
                    color: #999999;
                }
                .form-control{
                    padding: 18px 0px;
                    font-size: 12px;
                    padding-left: 30px;
                    border-radius: 20px;
                }
            }
        }
        ul{
            li{
                padding-top: 15px;
                a{
                    font-size: 20px;
                    color: #919191;
                }
                
                .active{
                    color: #4e76a4;
                    text-decoration: underline;
                }
            }
        }
    }
    .career-img {
        position: relative;
        padding-bottom: 30px;
    }
    .explore-service {
        position: relative;
        border: 1.5px solid #e1e1e1;
        text-align: center;
        padding: 20px 10px;
        margin: 35px auto;
        h3 {
            padding: 10px 0px;
        }
        p {
            font-size: 15px;
            line-height: 26px;
        }
        span.es-ficon {
            font-size: 60px;
            color: #4e76a4;
        }
        span.es-ficon2{
            color: #ffc854;

        }
    }

    h1 {
        text-align: right;
        position: relative;

        &::before{
            position: absolute;
            content: '';
            width: 77px;
            height: 4px;
            right: 0;
            background: #4e76a4;
            bottom: 0;
        }
    }

    section.team-member {
        position: relative;   
        
        h1{
            text-align: right;
        }
        .ex-ser-team{
            position: relative;
            margin: 25px auto;
            .tm-text {
                position: relative;
                margin: 20px auto;
            }
        }
      
    }

.company-location{

    position: relative;
    margin: 25px 0px;
    ul{
        padding: 10px 0px;
        li{
            line-height: 24px;
            color: #606060;
        }
    }

    a{
        color: #ff875e;
        span.flaticon-right-chevron {
            padding: 5px;
            background: #ff875e;
            border-radius: 50%;
            color: #fff;
            margin-left: 5px;
            font-size: 12px;
        }
    }
    
}
.job-tittle{

    select {
        padding: 15px 10px;
        width: 100%;
        color: #919191;
        border-color: #919191;
        border-radius: 5px;
    }
    
    
}
.job-details {
    position: relative;
    padding-top: 35px;
    padding-bottom: 18px;
    border-bottom: 1.5px solid #d4d4d4;
    &:last-child{
        border: none;
    }
    h5 {
        font-size: 19px;
        line-height: 27px;
    }
    .j-d-text {
        position: relative;
        padding-top: 20px;

        p{
            line-height: 25px;
            &:first-child{
                color: #4e76a4;
            }
        }
    }
}


    
}



/*---------------End Career PAge Style--------------*/


/*----------------case studies Section---------------*/
section.case-studies{
    position: relative;
    padding: 100px 0px;
    .scs-text {
        position: relative;
        padding: 20px 0px;
        h1 {
            line-height: 43px;
        }
        p {
            font-size: 18px;
            padding-top: 15px;
        }
    }
    .scs-text2{
        width: 50%;
        top: 45%;
        left: 13%;
        position: absolute;

        h2 {
            font-size: 28px;
            line-height: 35px;
            color: #fff;
            margin-bottom: 0px;
        }
    }
    .single-case-studies {
        margin: 15px 0px;

        .scs-2{
            position: relative;

            ::before{
                content: '';
                position: absolute;
                width: 100%;
                left: 0;
                right: 0;
                top: 0;
                height: 100%;
                background-color: rgba(46, 59, 73, 0.549);
            }
        }
    }
 




}

section.case-studies-details {
    position: relative;

    .csd-img {
        position: relative;
    }
    .csd-text {
        position: absolute;
        top: 5%;
        right: 5%;
        width: 185px;
        border-radius: 5px;
        padding: 20px;
        background: #4e76a4;

        p{
            color: #fff;
        }
    }


    
}

section.case-sd-content {
    position: relative;

    .csc-text {
        position: relative;
        width: 95%;
        margin: auto;
        background: #fff;
        margin-top: -50px;
        padding: 50px;
        border-radius: 15px;

        h3 {
            line-height: 32px;
        }

        p {
            padding: 20px 0px;
            font-family: unset;
        }

        .blog-share-icon {
            position: relative;
            display: inline-flex;
            width: 100%;
            padding: 15px 0px;
            border-top: 1.5px solid #e3e3e3;
            border-bottom: 1.5px solid #e3e3e3;
            margin: 30px auto;
            

            p {
                padding-top: 10px;
                color: #4b4c4d;
                padding-bottom: 0;
            }
      ul.social {
        li {
            display: inline-block;
            width: 40px;
            transition: .5s ease;
            height: 40px;
            border: 1.5px solid #f5f7f9;
            border-radius: 5px;
            margin-left: 10px;
            &:hover{
                background: #4e76a4;
                a{
                    color: #fff;
                }
            }
            a {
                font-size: 16px;
                color: #888;
                i {
                    font-size: 17px;
                    padding: 10px 11px;
                    border-radius: 5px;
                }
            }
        }
      }
        }
    }

  
    .csc-text2 {
        padding-top: 30px;
    }

}
/*----------------End case studies Section---------------*/


/*---------------career Details section-----------------*/

section.career-details {
    position: relative;
    padding: 100px 0px;

    .career-d-p {
        position: relative;
        width: 95%;
        p{
            padding-bottom: 20px;
            font-size: 18px;
        }
    }

    .need-niksta {
        position: relative;
        padding: 20px;
        border: 1.5px solid #e1e1e1;


        button {
            border: navajowhite;
            padding: 10px 35px;
            color: #fff;
            cursor: pointer;
            margin-top: 15px;
            border-radius: 5px;
            background: #4e76a4;
        }
    }

    .career-d-resposibilities{
        position: relative;
        margin-bottom: 30px;

        ul{
            li{
                position: relative;
                line-height: 24px;
                padding-top: 15px;
                color: #1f2124;
                display: flex;
                font-size: 18px;

                &::before{
                    content: "\f0c8";
                    font-family: "Font Awesome 5 Free";
                    font-size: 13px;
                    font-weight: 900;
                    margin-right: 10px;
                    color: #4e76a4;
                }
            }
        }

    }

    .jod-information{
        position: relative;
        border: 1.5px solid #e1e1e1;
        padding: 40px;
        padding-left: 0;
        margin-top: 50px;
        border-radius: 10px;

        h2{
            font-size: 30px;
            color: #4e76a4;
            padding-bottom: 15px;
            border-bottom: 1.5px solid #e1e1e1;
            margin-left: 45px;
        }
    form{
        .form-group{
            text-align: right;
            margin-bottom: 0;
            margin-top: 25px;

            
        a.btn-3 {
            background-color: #618ab9;
            color: #ffffff;
            float: left;
            
        }

            label{
                color: #5f5f5f;
                letter-spacing: 0;
            }
            .form-control{
                padding: 21px 15px;
                font-size: 16px;
                border-radius: 5px;
            }
            .f-uplode{
                width: 50%;
                border: none;
                cursor: pointer;
                background: #ffc854;
                padding: 23px 40px;

                &::placeholder{
                    color: #fff !important;
                }
                
            }
        }

    }

        

    }










}
/*---------------End career Details section-----------------*/