.error-img {
    position: relative;
    padding: 100px 100px 50px;
}

.error-content {
    position: relative;
    text-align: center;
    margin-bottom: 100px;

    h1 {
        font-size: 70px;
        line-height: 90px;
    }
    a.btn-3 {
        color: #ffffff;
        border: 1px solid #4e76a4;
        max-width: 165px;
        background: #376090;
        margin-top: 50px;
    }
}