/* Footer Style */

section.footer-details {
    position: relative;
    padding: 80px 0px;
    .f-details{

        img{
            margin-bottom: 20px;
            width: auto;
        }
        h3{
            padding-bottom: 10px;
        }
    
        li {
            line-height: 30px;
        }
        a{
            font-size: 16px;
            color: #888;
        }
        .social{

            li{
                    display: inline-block;
                    width: 50px;
                    transition: .5s ease;
                    height: 50px;
                    border: 1.5px solid #f5f7f9;
                    border-radius: 5px;
                    &:hover{
                        background: #28aae1;
                        color: #fff;
                    }
                    &:hover a{
                        color: #fff;
                    }
                i{
                    font-size: 20px;
                    padding: 14px;
                    border-radius: 5px;
                }
            }

        }

    }
    
}

footer {
    text-align: center;
    background: #f5f7f9;
    padding: 15px 0px;
}
footer.dark {
    background: #071726;
    p{
        color: #2f5579;

    }
    a{
        color: #4f8cc3;
        font-weight: 600;
        &:hover{
            color: #8eb1cf;
        }
    }
}



section.footer-details.dark {
    position: relative;
    background: #071726;

    .f-details{
        position: relative;
        h3{
            color: #2f5579;
        }
        .social{
            li{
                border-color: #374f65;
            }
        }
                li{
                    color: #374f65;
                    a{
                        color: #374f65;
                    }
                }
        }
}
/* /Footer Style */