/* Animation style */


@-webkit-keyframes spinnerRotateone {
    0% {
        -webkit-transform: rotate(0deg) translateY(30px);
        transform: rotate(0deg) translateY(30px);
    }

    100% {
        -webkit-transform: rotate(160deg) translateY(30px);
        transform: rotate(160deg) translateY(30px);
    }
}

@keyframes spinnerRotateone {
    0% {
        -webkit-transform: rotate(0deg) translateY(30px);
        transform: rotate(0deg) translateY(30px);
    }

    100% {
        -webkit-transform: rotate(160deg) translateY(30px);
        transform: rotate(160deg) translateY(30px);
    }
}

        
@-webkit-keyframes slideInnew3{
    0%{
        opacity:0;
        -webkit-transform:translate(80px,-80px);
        -ms-transform:translate(80px,-80px);
        transform:translate(80px,-80px)
    }
    100%{
        -webkit-transform:translate(0,0);
        -ms-transform:translate(0,0);
        transform:translate(0,0)
    }
}
@keyframes slideInnew3{
    0%{
        opacity:0;
        -webkit-transform:translate(80px,-80px);
        -ms-transform:translate(80px,-80px);
        transform:translate(80px,-80px)
    }
    100%{
        -webkit-transform:translate(0,0);
        -ms-transform:translate(0,0);
        transform:translate(0,0)
    }
}

@keyframes spin {
  
    from {
       
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}






/* End Animation style */