// Variables

//Font Variables
$primaryFont: 'Roboto';
$secondaryFont:'Roboto';
//$secondaryFont: 'Roboto', sans-serif;
//$quaternaryFont: 'Adamina', serif;
//$quinaryFont: 'Libre Baskerville', serif;

// Color Variables
$primaryColor: #fff;
$secondaryColor: #43435b;
$tertiaryColor: #101015;
$quaternaryColor: #545361;

// Background color
$primarybgColor:#ffc854;
$secondarybgColor:#4e76a4;
$tertiaryColor:#de5558;
$hoverbgColor:rgb(86, 194, 226);
$btnbgColor3:transparent;
$btnbgColor4:#ffc854de;
//$btnhover1:#ffcc62;
