// Variables

//Font Variables
$primaryFont: 'Playfair Display', serif;
$secondaryFont:'Poppins', sans-serif;
$quinaryFont: 'Oswald', sans-serif;

// Color Variables
$primaryColor: #fff;
$secondaryColor: #c79e56;
$h-tag-Color: #111111;
$paragraphColor: #515151;

// Background color
$tertiaryColor:#dcbc95;
$btnbgColortr:transparent;
//$btnhover1:#ffcc62;

